**/work/

*/db
*/incremental_db
*/synthesis
*/output_files
*/simulation
db
incremental_db
synthesis
output_files
simulation
*~*
*.o
*.d


*.bak

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# dvrs
*.mod.c
*.ko
*.symvers
*.cmd
*.order
